
<main>
  <div class ="container">
      <% flash.each do |message_type, message |%>
        <div class="alert alert-<%= message_type %>">
           <%= message %>
        </div>
      <% end %>
   <h1>検索条件</h1>
   <%= form_with url: "/index", method: :get,  local: true do |f| %>
     <div class="form-group">
       <div class = "label_side ">
        <%= f.label :name,"名前" %>
        <%= f.select :name, ['マンチカン', 'ソマリ','ミヌエット','ラグドール'], { prompt: '選択してください' },class: "col-6 custom-select " %>
       </div>
       <div class = "label_side">
        <%= f.label :color,"色" %>
        <%= f.select :color, ['ホワイト', 'クリーム','グレー'], { prompt: '選択してください' },class: "col-6 custom-select " %>
       </div>
      <%= f.submit "検索",class: "col-2 btn btn-primary" %>
      </div>
      <% end %>
   </div>
</main>