<!DOCTYPE html>
<html>
  <head>
    <title>猫検索</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="description" content="あなたのお好みの猫が探せます">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  
  </head>

  <body>
    <header>
      <%= render 'layouts/header'%> 
    </header>
  <div class="background">
    <%= yield %>
    <%= image_tag "background.jpg" %>
   
  </div>
  
  <script src="./index.js"  ></script>
  </body>
</html>

