<!DOCTYPE html>
<html>
  <head>
    <title>猫検索</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="description" content="あなたのお好みの猫が探せます">
　　
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render 'layouts/header'%> 
    </header>
    <%= yield %>
  </body>
</html>
